global
    nbthread 2
    maxconn 65536
    cpu-map auto:1/1 0 
    cpu-map auto:1/2 1 
    tune.ssl.default-dh-param 2048 
    tune.bufsize 32768 
    tune.maxrewrite 8192 
    
default
    timeout http-request 10s 
    timeout http-keep-alive 10s 
    timeout queue 30s 
    option forwardfor 
    option http-server-close 
    option httplog 
    retries 3

frontend fe_public
    stick-table type ip size 100k expire 30s store conn_rate(1s),bytes_in_rate(1s),http_req_rate(10s)
    tcp-request connection track-sc0 src
    tcp-request connection reject if { sc_conn_rate(0) gt 100 }
    tcp-request connection reject if { src_conn_cur gt 100 }
    
    http-request track-sc0 src
    http-request deny status 429 if { sc_http_req_rate(0) gt 100 }
    
    http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" 
    http-response set-header X-Frame-Options "SAMEORIGIN" 
    http-response set-header X-Content-Type-Options "nosniff" 
    http-response set-header Referrer-Policy "strict-origin-when-cross-origin"

backend be_web
    server web-01 192.168.104.2:80 check inter 2000ms fall 2 rise 3 maxconn 12000 cookie web01 
    server web-02 192.168.104.3:80 check inter 2000ms fall 2 rise 3 maxconn 12000 cookie web02 


